.mainContainer{
    display: flex;
    flex-direction: row;
}

.contactPanel{
    border-radius: .125rem;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    flex: 0 1 18.75rem;
    margin: 3.125rem 1.25rem 1.25rem 1.25rem;
    padding: 1.875rem;
    text-align: center;
}

.mainPanel{
    flex: 1 1 auto;
    margin: 3.125rem 1.25rem 1.25rem 1.25rem;
}

#profile_picture{
    width: 18.75rem;
}

#contactPersonalInfoContainer{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    margin-top: .625rem;
}